---
layout: default
permalink: /
---

 {% include index/hero.html %}

 {% include index/about.html %}

 {% include index/statistic.html %}

 {% include index/latest-news.html %}

 {% include index/rockstar-speakers.html %}

{% comment %} {% include index/location-map.html %} {% endcomment %}

 {% include index/galleri.html %}

{% comment %} {% include index/twitter-feed.html %} {% endcomment %}

{% comment %} {% include index/partners.html %} {% endcomment %}

 {% include index/subscribe.html %}

 {% include index/tickets.html %}

{% comment %} {% include index/tickets-2.html %} {% endcomment %}
