<!-- Begin Rockstar Galleri Section -->
<section id="rockstar-galleri" class="rockstar-galleri image-section parallax" style="background-image: url({{ site.baseurl_root }}/img/sections-background/{{ site.data.[site.lang].index.rockstar-galleri.image }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 rockstar-galleri-list">
			<h3 id="rockstar-speaker-title">{{ site.data.[site.lang].index.rockstar-galleri.title }}</h3>
			<div class="clearfix"></div> 
			<span class="bordered">
				<a href="{{ site.baseurl }}/galleri/" class="bottom-section-link waves-effect waves-button waves-light">{{ site.data.[site.lang].index.rockstar-galleri.buttonText }}</a>
			</span>
		</div>
	</div>
</section>
<!-- End Rockstar Galleri Section -->